<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        @media (max-width: 576px) {
            .container {
                padding-left: 15px;
                padding-right: 15px;
            }
            h1 {
                font-size: 24px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Create Task</h1>
        <form method="POST" action="{{ url_for('create_task', username=current_user.username) }}" class="mb-4">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.title.label }}
                    {{ form.title(class="form-control", size=32) }}
                    {% for error in form.title.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.description.label }}
                    {{ form.description(class="form-control", cols=50, rows=5) }}
                    {% for error in form.description.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    {{ form.due_date.label }}
                    {{ form.due_date(class="form-control", size=10) }}
                    {% for error in form.due_date.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
